/* Stylesheet for the 'FLBCA Theme' Plone theme */

#section-logo {
    width: 220px;
    height: 52px;
    display: inline-block;
    vertical-align: middle;
}

.section-law #section-logo {
    background: transparent url(&dtml-portal_url;/law-horizontal.jpg) no-repeat scroll 0% 0%;
}

.section-business #section-logo {
    background: transparent url(&dtml-portal_url;/business-horizontal.jpg) no-repeat scroll 0% 0%;
}

.section-soca #section-logo {
    background: transparent url(&dtml-portal_url;/soca-horizontal.jpg) no-repeat scroll 0% 0%;
}

.section-faculty #section-logo {
    background: transparent url(&dtml-portal_url;/faculty-horizontal.jpg) no-repeat scroll 0% 0%;
}

