/* Stylesheet for the 'FLBCA Theme' Plone theme */

.school-logo {
    background: transparent url(http://eresearch.jcu.edu.au/sitelogo.jpg) no-repeat scroll 0% 0%;
    width: 220px; 
    height: 52px; 
    display: inline-block; 
    vertical-align: middle;
}

.schoo


