/* Stylesheet for the 'Sharks Theme' Plone theme */

body {
	background-color:#0f4aa3;
	background-image:url(++resource++sharks.theme.images/body_bg_water.jpg);
	background-repeat:repeat-x;
	font-size:small;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin:0 auto;
	padding:0;
}

#visual-portal-wrapper {
        width:970px;
        margin:0 auto;
        background-color: #FFF;
        border: none;
        border-top: none;
}

h1#portal-byline {
	display: inline;
	margin-left: 1em;
}

#portal-personaltools, .portletHeader, .managedPortlet .portletHeader, #portal-globalnav li.selected a {
	background-image:url(++resource++sharks.theme.images/portlet_top.gif);
}

#portal-globalnav li a:hover {
        background-image:url(++resource++sharks.theme.images/portlet_top_invert.gif);
}

.contentActions, .contentViews .selected a {
	background-image:url(++resource++sharks.theme.images/contentActions_bg.gif);
}

.contentActions li a:hover, .contentViews li a:hover {
	background-image:url(++resource++sharks.theme.images/contentActions_bg_invert.gif);
}

#portal-personaltools, .portletHeader, .managedPortlet .portletHeader, #portal-globalnav li.selected a, .contentActions, .contentActions li a:hover, .contentViews li a:hover, #portal-globalnav li a:hover {
	background-position: 0 0;
        background-attachment: scroll;
        background-repeat: repeat;
}

#portal-personaltools {
	border-bottom: none;
}

#portal-globalnav li a {
	font-size:small;
	font-weight:bold;
	height:auto;
	margin-right:0.5em;
	padding:0 1.25em;
	text-decoration:none;
	text-transform:none;
}

#portal-breadcrumbs, .portletWrapper, #portal-footer {
	background-image:url(++resource++sharks.theme.images/portal_drop_shadow.gif);
	background-repeat: repeat-x;
	border-bottom: none;
}

#portal-breadcrumbs {
        background-color: #FFFFFF;
	background-position: top center;
	padding-top:5px;
}

#portal-footer {
	padding:0.5em 0 2.25em;
	background-position: bottom center;
}

.portletWrapper {
	padding-bottom: 5px;
	background-position: bottom center;
}

.actionMenu .actionMenuContent li a:hover {
	color:#436976;
}

.state-internally_published {
	color:#00AECF;
}
