[buildout]
#extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-3.x.cfg
extends = 
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
    http://good-py.appspot.com/release/dexterity/1.1
parts += lxml omelette
versions = versions
package-name = jcu.theme
package-extras = [test]
develop = .

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml
force = false

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

