[buildout]
#extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-3.x.cfg
extends = 
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
    http://good-py.appspot.com/release/dexterity/1.1
versions = versions
package-name = jcu.theme
package-extras = [test]
develop = .

