/* Stylesheet for the 'JCU Theme' Plone theme */

div.action { 
  display: -moz-inline-stack;
  display: inline-block;
}

#collage .two-columns-verylargeleft .block_1 {
    width: 69%;
}
#collage .two-columns-verylargeleft .block_2 {
    width: 30%;
}

#collage .three-columns-verylargeleft .block_1 {
    width: 69%;
}

#collage .three-columns-verylargeleft .block_2 {
  width: 9%;
}

#collage .three-columns-verylargeleft .block_3 {
  width: 10%;
}

/* Content tabbed listing views */
#tabbed-spinner-wrapper {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
#tabbed-spinner-nav {
    width: 25%;
    max-width: 250px;
    min-width: 185px;
    padding: 0;
    float:left;
}
#tabbed-spinner-nav ul {
    list-style: none outside none;
    margin: 0 0 -1px 0;
    padding-left: 2px;
}
#tabbed-spinner-nav ul:first-child {
    margin-top: 10px;
}
#tabbed-spinner-nav li {
    position: relative;
    z-index:1;
    padding: 0;
    list-style: none;
}
#tabbed-spinner-nav li a {
    list-style: none outside none;
}
#tabbed-spinner-nav a {
    display: block;
    height: 4em;
    margin-left: 0.5em;
    padding: 0.75em 0.4em 0 0.5em ! important;
    background: #E4E5E4;
    border: 0px none;
    -moz-border-radius: 1em 0 0 1em;
    -webkit-border-top-left-radius: 1em 1em;
    -webkit-border-bottom-left-radius: 1em 1em;
    font-weight: bold;
    font-size: 1em;
    line-height:1.1em;
    text-decoration: none;
    text-shadow:0 1px 0 #FFF;
}
#tabbed-spinner-nav a:active {
    color: #0066CC;
}

#tabbed-spinner-nav a.current {
    background-color: #EFF3F5;
    display: block;
    margin-left: 0;
    padding-right: 1.4em;
    z-index: 3;
}
#tabbed-spinner-content-panes {
    background: white;
    float: left;
    position: relative;
    z-index: 1;
    width: 72%;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-width: 2px;
    border-style: groove;
    white-space: normal;
}
#tabbed-spinner-content-panes div.tabbed-spinner-content {
     background: transparent;
     display: none;
     margin: 1em 2em 2em;
}
#tabbed-spinner-content-panes div.dynamic-tabbed-spinner-content {
     display: block;
}
#tabbed-spinner-content-panes div#parent-fieldname-text {
    padding: 0px;
    display: block;
}
#tabbed-spinner-loading-wrapper {
    display:none;
}
.tabbed-spinner-loading {
    display:inline-block;
}
/*#tabbed-spinner-content-panes img {
    float:left;
    margin-right: 20px;
}*/
#tabbed-spinner-content-panes h3 {
    margin: 0 0 5px 0;
}

/* Theme-specific styles for tabbed views */
.jcu-green #content #tabbed-spinner-nav a {
    background-color: #DBE8CE;
    color: #01A651;
}
.jcu-green #content #tabbed-spinner-nav a.current {
    background-color: #94D142;
    text-shadow: 0 -1px 0 #372;
    color: #FFF !important;
}
.jcu-green #content #tabbed-spinner-content-panes { 
    border-color: #94D142;
}

.jcu-blue #content #tabbed-spinner-nav a.current {
    background-color: #00B6FA;
    text-shadow: 0 -1px 0 #37F;
    color: #FFF !important;
}
.jcu-blue #content #tabbed-spinner-nav a {
    background-color: #D4E8EE;
    color: #2056AE;
}
.jcu-blue #content #tabbed-spinner-content-panes { 
    border-color: #00B6FA;
}

.jcu-orange #content #tabbed-spinner-nav a.current {
    background-color: #FDB913;
    text-shadow: 0 -1px 0 #950;
    color: #FFF !important;
}
.jcu-orange #content #tabbed-spinner-nav a {
    background-color: #FAEFDE;
    color: #E94F35;
}
.jcu-orange #content #tabbed-spinner-content-panes { 
    border-color: #FDB913;
}

.jcu-red #content #tabbed-spinner-nav a.current {
    background-color: #ED2028;
    text-shadow: 0 -1px 0 #833;
    color: #FFF !important;
}
.jcu-red #content #tabbed-spinner-nav a {
    background-color: #F0D7D5;
    color: #620101;
}
.jcu-red #content #tabbed-spinner-content-panes { 
    border-color: #ED2028;
}

/* Content special styles */
#content ul.listTypeInline li {
display: inline-block;
padding: 0 0.5em;
}
