/* For devices with narrow screens, phones, tablets, etc. */

#visual-portal-wrapper {
    width: 100%;
    min-width: inherit;
    margin:0;
}

#portal-column-one, 
#portal-column-two,
#portal-column-content { 
    clear: both;
    width: 97.75%;
    margin-left: -98.875%; 
}

#global-logo {
    display: none;
}
#portal-logo {
    margin: 0.5em 0 0;
}
#portal-top {
    font-size: 180%;
}
#portal-personaltools {
    margin-bottom: 0.4em;
}
#portal-globalnav {
    font-size:130%;
    margin:0;
}
#portal-globalnav li a {
    min-width: 3em !important;
}
#portal-searchbox {
    margin: 0 0 0.5em;
    text-align: right;
}
#portal-searchbox input {
    font-size: 100% !important;
}
#portal-searchbox .searchSection,
#portal-searchbox .searchButton {
    display:none;
}
#searchGadget {
    width:6em;
}
#content-views a {
    font-size: 150%;
    line-height: 2em !important;
    padding: 0.5em;
}
#content li.formTab a {
    font-size: 140%;
    line-height: 2em !important;
    padding: 0.25em;
}
#edit-bar {
    min-height: 5em;
}

#contentActionMenus a {
    width: 100%;
    line-height: 2em !important;
    font-size: 150%;
}

input, textarea {
    font-size: 140% !important;
}
div.managePortletsLink,
a.managePortletsFallback {
    font-size: 140%;
}
div.overlay {
    font-size: 120%;
}
div.overlay-iframe,
div.overlay-ajax {
    width: 90%;
}

#portal-footer, #portal-colophon {
    float:none;
    width:auto;
    margin-bottom:1em;
    font-size:50%;
    text-align:center;
    line-height:inherit;
}
#fieldset-openid-login label, #login-form label {
    text-align:left;
}
